{% extends "base.html" %}
{% block title %} MenuFake {% endblock %}
{% block body %}

	<div class="jumbotron listCover">
	<h2 class="heading">{{ location }} Delivery and Takeaway</h2>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="sideBar">
					<div class="list-group">
						<div class="list-group-item">
							<ul class="list-inline side">
								<li>
								<div class="tag">
									<label>Delivery</label>
									<input class="listType" type="radio" name="cartType" value="delivery" id="delivery" checked="checked">
								</div>
								</li>
								<li>
								<div class="tag">
									<label>Pick-up</label>
									<input class="listType" type="radio" name="cartType" value="pickUp" id="pickUp">
								</div>
								</li>
							</ul>
						</div>
					</div>
					<br>

					<div class="choose">
						<form action="/search/{{location}}/refind" method="get" id="target">
							<input type="hidden" name="cartType" id="cartType" value="delivery">

							<div class="list-group">
								<h4>Cuisines</h4>
								<div class="list-group-item sideList">
								<label>All cuisines</label>
								<input type="checkbox" name="cuisineNames[]" value="all" id="all" checked="checked">
								</div>
								
								<div class="list-group-item sideList">
								<label>Chinese</label>
								<input type="checkbox" name="cuisineNames[]" value="chinese" class="cuisineNames">
								</div>

								<div class="list-group-item sideList">
								<label>Thai</label>
								<input type="checkbox" name="cuisineNames[]" value="thai" class="cuisineNames">
								</div>
								
								<div class="list-group-item sideList">
								<label>Pizza</label>
								<input type="checkbox" name="cuisineNames[]" value="pizza" class="cuisineNames">
								</div>
								
								<div class="list-group-item sideList">
								<label>Asian</label>
								<input type="checkbox" name="cuisineNames[]" value="asian" class="cuisineNames">
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>

			<div class="col-md-8">

				<table class="table table-bordered">
					<tbody class="main">
						{% for restaurant in result %}
						<tr>
							<td>
								<div class="row">
									<div class="col-md-4">
										<img class="img-rounded img" src="//www.menulog.com.au/generated_content/venue_images/takeaway_search_thumb/185433_ec3c411428f83918bb282fa725145a08/Bombay-Affair_Orderonline.jpeg">
									</div>

									<div class="col-md-8">
										<h4>{{ restaurant.title }}</h4>
										<span>{{ restaurant.cuisineName }} | </span>
										<span>{{ restaurant.openTime }} | </span>
										<span>${{ restaurant.minOrder }}</span> <br>
										<span>{{ restaurant.address }}</span> <br>
										<a class="btn btn-default pull-right" href="/restaurants/{{restaurant.title}}/menus" role="button">See Menu</a>
									</div>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}