{% extends "base.html" %}
{% block title %} MenuFake {% endblock %}
{% block body %}

	<div class="jumbotron listCover">
	<h2 class="heading">{{ location | replace({'_':' '}) }} Delivery and Takeaway</h2>
	</div>
	<div class="container">

		<div class="row">
			<div class="col-md-4">
				<div class="sideBar">
					<div class="list-group">
						<div class="list-group-item">
							<ul class="list-inline side">
								<li>
								<div class="tag">
									<label>Delivery</label>
									<input class="listType" type="radio" name="cartType" value="delivery" id="delivery" checked="checked">
								</div>
								</li>
								<li>
								<div class="tag">
									<label>Pick-up</label>
									<input class="listType" type="radio" name="cartType" value="pickUp" id="pickUp">
								</div>
								</li>
							</ul>
						</div>
					</div>
					<br>

					<div class="choose">
						<form action="/search/{{location}}/refind" method="get" id="target">
							<input type="hidden" name="cartType" id="cartType" value="delivery">

							<div class="list-group">
								<h4>Cuisines</h4>
								<div class="list-group-item sideList">
								<label>All cuisines</label>
								<input type="checkbox" name="cuisineNames[]" value="all" id="all" checked="checked">
								</div>
								{% for cuisines in cuisines %}
								<div class="list-group-item sideList">
								<label>{{cuisines.cuisineName}}</label>
								<input type="checkbox" name="cuisineNames[]" value="{{cuisines.cuisineName}}" class="cuisineNames">
								</div>
								{% endfor %}
							</div>

						</form>
					</div>
				</div>
			</div>

			<div class="col-md-8">
				<table class="table table-bordered">
					<tbody class="main">
						{% if result is empty%}
							<h2>Sorry! No any restaurants in this area yet</h2>
						{% else %}
						{% for restaurant in result %}
						<tr>
							<td>
								<div class="row">
									<div class="col-md-4">
										<img class="img-rounded img" src="{{restaurant.image_path}}" width="120px">
									</div>

									<div class="col-md-8">
										<h3>{{ restaurant.title | replace({'_' : ' '}) }}</h3>
											<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> 
											<span class="tags">{{ restaurant.cuisineName }}</span>
											<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
											<span class="openTime">{{ restaurant.openTime|date("H:i")}}</span>
											-
											<span class="tags closeTime">{{ restaurant.closeTime|date("H:i") }}</span>

											<span class="tags">Min order ${{ restaurant.minOrder }}</span> <br>
											<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> 
											<span class="tags">{{ restaurant.address }}</span> <br>
										<a class="btn btn-default pull-right seeMenu" href="/restaurants/{{restaurant.title}}/menus" role="button">See Menu</a>
									</div>
								</div>
							</td>
						</tr>
						{% endfor %}
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}