.navbar-default {
  background-color: rgb(48,149,244);
  border-color: rgb(16,124,224);
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #8bc2f6;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #8bc2f6;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #8bc2f6;
  background-color: #107ce0;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #8bc2f6;
  background-color: #107ce0;
}
.navbar-default .navbar-toggle {
  border-color: #107ce0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #107ce0;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #8bc2f6;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}
 .navbar{
      border-radius: 0px;
      margin-bottom: 0px;

  }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #8bc2f6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #8bc2f6;
    background-color: #107ce0;
  }

}
.btn-default{
	background-color: #8bc2f6;
	color: white;
	border: none;
}

.heading{
	text-align: center;

}

.listCover{
	background-image: url("/img/cover/cover1.jpg");
	background-size: cover;
	height: 220px;
	color: white;
}

tbody{
	 display: table-row-group;
	 vertical-align: middle;
}

.img{
	margin-left: 10px;
}

.sideList{
	border: none;
}

.side{
	text-align: center;
	margin:auto;
}

.tag{
	padding-right: 20px;
}

.choose{
	padding-left: 20px;
}

/*
	restaurant.html
*/
.restaurantCover{
	background-image: url("/img/cover/cover3.png");
	background-size: cover;
	height: 220px;
	color: white;
}

.col-sm-9{
	text-align: center;

	/*margin-top: -20px;
	padding: 10px;*/
}

.restaurantHeader{
	text-align: center;
}

.restaurantInfo{
	/*text-align: right;*/
}

/*button*/
.removeFood{    
	margin: 5px;
}

.restaurantForm{
	padding: 10px;
}

.labels{
	padding-right: 10px;
	padding-left: 10px;
}

.fc{
	padding-right: 20px;
}

.order{
  padding-top: 50px;
}

.input{
  height:100px;
}

.empty{

  height: 24px;
  width: 24px;
  background: url("/img/stars/empty.png");
  background-size: 24px 24px;
  background-repeat: no-repeat;
}

.full{
  height: 24px;
  width: 24px;
  background: url("/img/stars/full.png");
  background-size: 24px 24px;
  background-repeat: no-repeat;
}