{% extends "panelBase.html" %}
{% block title %} Edit restaurant {% endblock %}

{% block body %}
	<div class="container">

	<div>
	{% if userRole == 3%}
		<a class="btn" href="/admin"><strong>Back</strong></a>
	{% endif %}
	</div>

	<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Add new restaurant</h3>
		  </div>

		  <div class="panel-body">
			<form action="/admin/addRestaurant" method="POST" id="u" enctype="multipart/form-data">
				<ul class="list-inline">
					<li>
						<div class="form-group">
							<label>
							Title:
							</label>
							<input class="form-control addTitle" type="text" name="title" value="">
							<label>
							cuisineName:
							</label>
							<!-- <input class="form-control addCuisineName" type="text" name="cuisineName" value=""> -->
							<select class="form-control" name="cuisineName" required>
								{% for cuisines in cuisines %}
								<option value="{{cuisines.cuisineName}}">{{cuisines.cuisineName}}</option>
  								{% endfor %}
							</select>
						</div>
					</li>
					<li>
						<div class="form-group">
							<label>
								openTime:
							</label> 
							<input class="form-control addOpenTime" type="time" name="openTime" value="">
							<label>
								closeTime:
							</label> 
							<input class="form-control addCloseTime" type="time" name="closeTime" value="">
							
						</div>
					</li>

					<li>
						<div class="form-group">
							<label>
								description:
							</label> 
							<input class="form-control addDescription" type="text" name="description" value="">
							<label>
								address:
							</label> 
							<input type="text" class="form-control addAddress" name="address" value="">
						</div>
					</li>
					<li>
						<div class="form-group">
							
							<label>
								cartType
							</label>
							<select class="form-control" name="cartType" required>
								<option value="pickUp">pickUp</option>
  								<option value="delivery">delivery</option>
							</select>
							<label>
								minOrder:
							</label> 
							<input class="form-control addMinOrder" type="text" name="minOrder" value="">
						</div>
					</li>
				</ul>
				<ul class="list-inline">
					<li>
						<label>Image Upload</label>
						<input class="form-control" id="file" type="file"  name="ufile">
						<input type="hidden" name="userId" class="userId" value="{{userId}}" />
					</li>

				</ul>
				<div id="perview">
					<img src="/img/cover/default.jpg" attr="default" width="120px">
				</div>
				<input class="btn btn-danger upload pull-right" type="submit" name="submit" value="Add">
			</form>

		  </div>
	</div>

	<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Edit Restaurant</h3>
			    <form class="form-inline" action="/restaurants/searchRestaurants" method="GET">
						<div class="form-group">
							<input class="form-control" type="text" name="search" placeholder="Search Restaurants">
							<input class="btn" type="submit" name="submit" value="Search">
						</div>
				</form>
			  </div>

			  <div class="panel-body">
			  	{% for restaurant in restaurantData %}
			  		<form action="/admin/{{ restaurant.title }}/editRestaurant" method="POST">
				  		<ul class="list-inline">
				  		<li>
				  			<div class="form-group">
					  			<label>Title</label>
								<input class="form-control" type="text" name="title" value="{{ restaurant.title }}">
								<label>cuisineName:</label>
								<select class="form-control" name="cuisineName" required>
									{% for cuisines in cuisines %}
										{% if cuisines.cuisineName == restaurant.cuisineName%}
										<option value="{{cuisines.cuisineName}}" selected>{{cuisines.cuisineName}}</option>
										{% else %}
										<option value="{{cuisines.cuisineName}}">{{cuisines.cuisineName}}</option>
										{% endif %}
	  								{% endfor %}
								</select>
							</div>
						</li>
						<li>
							<div class="form-group">
								<label>openTime:</label> 
								<input class="form-control" type="time" name="openTime" value="{{ restaurant.openTime }}">
								<label>closeTime:</label> 
								<input class="form-control" type="time" name="closeTime" value="{{ restaurant.closeTime }}">
								
							</div>
						</li>
						<li>
							<div class="form-group">
								<label>description:</label> 
								<input class="form-control" type="text" name="description" value="{{ restaurant.description }}">
								<label>address:</label> 
								<input class="form-control" type="text" name="address" value="{{ restaurant.address }}">
							</div>
						</li>
						<li>
							<div class="form-group">
								
								<label>cartType</label>
								<select class="form-control" name="cartType">
								{% if restaurant.cartType =="pickUp" %}
									<option value="pickUp" selected>pickUp</option>
									<option value="delivery">delivery</option>
								{% endif %}
								{% if restaurant.cartType =="delivery" %}
									<option value="pickUp">pickUp</option>
									<option value="delivery" selected>delivery</option>
  								{% endif %}
								</select>

								<label>minOrder:</label>
								<input class="form-control" type="text" name="minOrder" value="{{ restaurant.minOrder }}">
							</div>
						</li>
						<li>
							<div class="form-group">
								<input type="hidden" name="userId" value="{{restaurant.owner}}">
								<input class="btn btn-primary" type="submit" name="save" value="save">
								<input class="btn btn-danger" type="submit" name="delete" value="delete">
							</div>
						</li>
						<li>
							<div class="form-group">
								<a class="btn btn-info" role="button" href="/edit/{{restaurant.title}}/menu">Edit Menu</a>
								<a class="btn btn-warning" href="/edit/{{restaurant.title}}/addMenus">Add New menu</a>
							</div>
						</li>
						</ul>
						<img src="{{restaurant.image_path}}" width="120px">
					</form>
						<form method="POST" class="uploadImage" action="/">
							<ul class="list-inline">
								<li>
								<input class="form-control imageFile"  type="file" name="ufile">
								<input type="hidden" name="restaurantId" class="restaurantId" value="{{restaurant.id}}" />
								</li>
								<li>
									<input type="submit" class="btn" name="submit" value="Change image">
								</li>
								<div class="perview">
									
								</div>
							</ul>
						</form>
					<hr>
			  	{% endfor %}
			  </div>
	</div>

	</div>
{% endblock %}