{% extends "base.html" %}
{% block title %} MenuFake {% endblock %}
{% block body %}
	
	<div class="container">
		<div class="row order">
			<div class="col-md-8">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h2 class="panel-title">Your Detail</h2>
					</div>
					<div class="panel-body">
						<form action="/payment/checkOut" method="POST">
						{% for user in user %}
							<div class="form-group">
								<label>First Name:</label> 
								<input class="form-control" type="text" name="firstName" value="{{user.firstName}}">
							</div>
						
							<div class="form-group">
								<label>Last Name:</label> 
								<input class="form-control" type="text" name="lastName" value="{{user.lastName}}">
							</div>
							<div class="form-group">
								<label>Email:</label> 
								<input class="form-control" type="text" name="email" value="{{user.email}}">
							</div>
							{% if cartType == "delivery" %}
								<div class="form-group">
									<label>Address:</label>
									<input class="form-control" type="text" name="address" value="{{user.address}}">
								</div>
							{% endif %}
							<div class="form-group">
								<label>Phone:</label> 	
								<input class="form-control" type="text" name="phone" value="">
							</div>
						{% endfor %}

						{% if not auth%}
							<div class="form-group">
								<label>First Name:</label> 
								<input class="form-control" type="text" name="firstName" value="">
							</div>
						
							<div class="form-group">
								<label>Last Name:</label> 
								<input class="form-control" type="text" name="lastName" value="">
							</div>
							<div class="form-group">
								<label>Email:</label> 
								<input class="form-control" type="text" name="email" value="">
							</div>
							{% if cartType == "delivery" %}
								<div class="form-group">
									<label>Address:</label>
									<input class="form-control" type="text" name="address" value="">
								</div>
							{% endif %}
							<div class="form-group">
								<label>Phone:</label> 	
								<input class="form-control" type="text" name="phone" value="">
							</div>
						{% endif %}
							<div class="submitOrder">
								
							</div>
							<div class="payment">
								
							</div>
							<input type="hidden" name="restaurantId" value="{{restaurantId}}">
							<input type="hidden" name="cartType" id="tp" value="{{cartType}}">
							<input class="btn btn-danger pull-right" role="button" type="submit" name="Buy" value="Place Order Now">

							
						</form>

						<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="POST">
							<input type="hidden" name="business" value="aliu45836@gmail.com">
							<input type="hidden" name="cmd" value="_xclick">
							<input type="hidden" name="amount" class="pay" value="">
							<input type="hidden" name="currency_code"  value="AUD">
							<input type="image" name="submit" border="0"
        src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/silver-pill-paypal-34px.png" alt="PayPal - The safer, easier way to pay online">
        <img alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
						</form>
					</div>
				</div>
			</div>

<!--  -->

			<div class="col-md-4">
			{% if not auth %}
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h2 class="panel-title">Your are not login</h2>
					</div>
					<div class="panel-body">
						<p> Please login for more </p>
						<a class="btn btn-danger" href="/auth/users/login" role="button">Log in</a>
					</div>
				</div>
			{% endif %}

				<div class="panel panel-primary" >
					
					<div class="panel-heading">
						<h2 class="panel-title">Order Info</h2>
						<span class="label label-danger">{{cartType}}</span>
						<a id="getRestaurantId" type="hidden" data-id ="{{restaurantId}}" ></a>
					</div>
 
					<div class="panel-body">
						<ul class="list-group" id="orders">
							
							<li class="list-group-item" id="totalPrice"></li>
						</ul>
					</div>

				</div>
				
			</div>
			
		</div>


	</div>


{% endblock %}