<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<nav>
		<a href="/"> Home </a>
		<a href="/posts"> p </a>
		<a href="/registration"> registration </a>
		{%if not (auth)%}
		<a href="/auth/users/login"> login </a>
		{%else%}
		<a href="/auth/users/logOut"> logout </a>
		{%endif%}
	</nav>

	{% block body %}
	{% endblock %}

</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="http://localhost:8888/js/js.js"></script>
</html>